{% extends "base.html" %}
{% block title %}
3D
{% endblock %}

{% block content %} 

    <br><br>

    <!-- Main Title -->
    <div class="container mb-5" align="center" style="height:100%;">
      <img src="../static/img/Logo_1.png" style="height: 700px;">
    </div>
    
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

    <!-- What is Drunk Drive -->
    <section class="define" id="define" style="background-image: url('../static/img/drunk-driving.jpg'); background-size: cover; height: 750px; display: block; margin: 0 auto; background-repeat: no-repeat;">
        <br>
        <br>
        <div class="container  wow bounceInRight" >
            <div class="card mb-3" style="border: none; width: 400px; display: block; margin-left: 950px; margin-top: 400px; font-family: 'Do Hyeon'; " >
                <div class="row no-gutters ">
                  <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">음주 운전이란?</h5>
                        <div class="card-text">
                            <p>술을 마시고 운전을 하는 것을 말하며,</p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section> 

    <br><br>
    <br><br>
    <br><br>
    <br><br>        
    <br><br>
    <br><br>        
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br id="accKor">
    <br><br>
    
    <!-- Drunk Drive in Korea -->
    <section class="accKor">
        <div class="container">
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <!-- 지도 표 -->
                    <img src="../static/img/map.png" style="display: block; margin: 0 auto; max-width: 600px; max-height: 600px;" >  
                </div>
                <div class="col-sm">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">한국의 음주운전 사고</h5>
                            <div class="card-text">
                                <p>음주운전 사고
                                  <br>
                                  통계자료</p>
                            </div>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <!-- 차트 -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- YoonLaw -->
    <section class="YoonLaw" >
          <div class="container">
            <div class="row">
              <div class="container">
                <div class="row">
                  <img src="../static/img/AccIcon.png" alt="" style="width: 50px;"  id="YoonLaw">
                  <div class="w-100"></div>
                  <div class="col-md-8">
                    <div class="card-body" style="width: 500px;">
                        <h5 class="card-title">'윤창호' 법</h5>
                        <div class="card-text">
                            <p>그러던 중, 2018년 안타까운 사건이 있었다.zㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <img src="../static/img/yoon.png" style="display: block; margin: 0 auto; width: 1000px;"  >  
            </div>
          </div>
    </section>

    <br>
    <br>
    <br>
    <br id="graph">
    <br>
    <br>
    <br>
    

    <!-- name is not prepared yet -->
    <section class="graph">
        <div class="container">
            <div class="card mb-3" style="border: none; max-width: 600px; display: block; margin: 0px auto;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../static/img/drunk_drive.jpg" class="card-img" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">'윤창호' 법 이후</h5>
                        <div class="card-text">
                            <p>그렇다면 '윤창호'법 제정 이후, 음주운전 사고에는 어떠한 변화가 왔을까?</p>
                            <p>통계자료</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <br><br>
    <br><br>        
    <br><br>
    <br><br>
    <br><br>        
    <br><br>
    <br><br>        
    <br><br>
    <br><br>
    <br><br>        
    <br><br>
    <br><br>
    <br>
    <br >
    
    <!-- Finally saying -->
    <section id="finally" class="finally" id="define" style="background-image: url('../static/img/ending.jpg'); background-size: cover; height: 760px; display: block; margin: 0 auto; background-repeat: no-repeat;">
      <br>
      <br>
      <div class="container" >
          <div class="card mb-3" style="border: none; width: 380px; display: block; margin-left: 950px; margin-top: 400px; font-family: 'Do Hyeon'; " >
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="card-body">
                      <h3 class="card-title">마치며</h5>
                      <div class="card-text">
                          <p>술을 마시고 운전을 하는 것을 말하며,</p>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section> 
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br id="resourse">
    <br><br>
    <br>
    
    <!-- Additional Resourses -->
    <section class="resourse">
      <div class="container">
        <div class="card mb-3" style="border: none; max-width: 600px; display: block; margin: 0px auto;" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../static/img/drunk_drive.jpg" class="card-img" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">더 알아보기</h5>
                <div class="card-text">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
{% endblock %}

{% block footer %}

{% endblock %}